.modalContent {
  padding: 16px 24px;
}

.description {
  margin-bottom: 24px;
  font-size: 14px;
  color: var(--color-text-secondary);
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 12px;
  width: 100%;

  &.genericRow {
    background-color: rgba(30, 34, 48, 20%);
    padding: 12px;
    border-radius: 8px;
    border: 1px dashed var(--color-border);
  }
}

.subjectLabel {
  width: 140px;
  flex-shrink: 0;
  font: var(--font-label-2);
  color: var(--color-text);
  line-height: 1.4;
}

.subjectInput {
  flex: 1;
  min-width: 0;
}

.fallbackInput {
  input::placeholder {
    font-style: italic;
    opacity: 45%;
  }
}
